body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    /* Add other navbar styles if needed */
  }