body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    /* Add other navbar styles if needed */
  }
  input:hover{
    box-shadow: 5px 2px 8px  #cadcdf;
    transform: scale(1.005);
    transition: all 0.3s ease-in-out;
}
.mainContainer{
    display: flex;
    justify-content: center;
    padding:  5% 0%;
}
.mainCard{
    background-color: rgb(252, 252, 252);
    width: 40rem;
    padding: 4rem 3rem;
    box-shadow: 5px 2px 8px  #cadcdf17;
    border-radius: 12px;
    text-align: center;
}
.ant-form-item-control-input-content{
    display: flex;
    justify-content: start;
}
.ant-form-item-control-input-content:has(button){
    justify-content: center;
}
.ant-select-selector{
    text-align: start;
}
label{
    font-weight: 500;
    align-self: auto;
}
h1{
    margin-top: 0px;
    color: rgb(2, 30, 55);
}
h2{
    color: rgb(0, 59, 96);
}
h3{
    color: rgb(2, 30, 55);
}
